<%

randomStyle = () => styles[Math.floor(Math.random() * styles.length)]

%><!doctype html>
<html>
<head>
    <title>BRETT</title>
    <meta charset="UTF-8"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= theme %>">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/client.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1 class="text-center">BRETT</h1>
        </div>
        <div class="col-lg-3 stop-buttons">
            <a class="stop-button" title="STOP DAS"><img src="/img/stop.gif" alt="STOP DAS"/></a>
            <a class="auto-stop" title="STOP DAS OHNE SEHNENSCHEIDENENTZÜNDUNG">🚗</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">

                <ul class="nav nav-tabs" role="tablist">
                    <% for (let group of soundData) { %>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#<%= group.name %>"><%= group.name %></a>
                        </li>
                    <% } %>
                </ul>

                <div class="tab-content">
                    <% for (let group of soundData) { %>
                    <div class="tab-pane fade" id="<%= group.name %>" role="tabpanel">

                        <div class="button-wrapper">
                            <button type="button" class="btn btn-lg btn-<%= randomStyle() %> soundbutton" data-group="<%= group.name %>" data-sound="_random_">Zufällig</button>
                            <% for (let sound of group.sounds) { %>
                                <button type="button" class="btn btn-lg btn-<%= randomStyle() %> soundbutton"
                            data-group="<%= group.name %>"
                            data-sound="<%= sound.name %>"><%= sound.name %></button>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
