<!doctype html>
<html>
<head>
    <title>BRETT</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="/js/client.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <div class="card">
            <h1 class="card-header">BRETT</h1>
            <div class="controls">
                <div class="buttons">
                    <button class="button stop-button" title="STOP DAS"><img src="/img/stop.gif" alt="STOP DAS"/></button>
                    <button class="button emoji auto-stop" title="STOP DAS OHNE SEHNENSCHEIDENENTZÜNDUNG"><span class="auto">🚗</span></button>
                    <button class="button emoji toggle-dark-mode" title="Dark Mode">🌑</button>
                </div>
            </div>
            <nav class="main-navigation">
                <ul>
                    <% for (let group of soundData) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="#<%= group.name %>"><%= group.name %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </aside>
    <main class="main">
        <% for (let group of soundData) { %>
            <div class="group card" id="<%= group.name %>">
                <h2 class="group-header card-header"><%= group.name %></h2>
                <div class="card-body">
                    <button type="button" class="sound-button" data-group="<%= group.name %>" data-sound="_random_">Random</button>
                    <% for (let sound of group.sounds) { %>
                        <button type="button" class="sound-button" data-group="<%= group.name %>" data-sound="<%= sound.name %>"><%= sound.name %></button>
                    <% } %>
                </div>
            </div>
        <% } %>
    </main>
</div>
</body>
</html>
